.header {
    grid-area: header;
    text-align: center;
}

form {
    text-align: center;
}

body {
    background-color: bisque;
    display: grid;
    text-align: center;
}

.buttonDiv {
    margin-top: 15px;
}

img {
    height: 100px;
}

ul :hover {
    text-decoration: underline;
}

/* @media (min-width: 1050px) and (max-width: 2000px) {

    body {
      display: flex;
    }
  
  } */